body {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.buttons_chartfilter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
}

.button_charttype:hover,
.button_joy:hover,
.button_difficulty:hover {
  background-color: rgb(162, 243, 162);
}

h5 {
  background-color: rgb(236, 203, 163);
  padding: 15px;
  animation: slideInFromBottom 0.5s ease-in-out 0s;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.footer {
  text-align: center;
  font-size: 2vw;
  color: bisque;
  -webkit-text-stroke: 0.05vw black;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.link:hover {
  color: rgb(85, 209, 85);
}

.student_list {
  color: salmon;
}
