body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(67, 124, 205), rgb(69, 214, 202));
}

.buttons_chartfilter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
}

.button_charttype:hover,
.button_joy:hover,
.button_difficulty:hover {
  background-color: rgb(162, 243, 162);
}

h3 {
  font-size: 23px;
  margin-left: 30px;
}

.footer {
  padding: 15px;
  animation: slideInFromBottom 0.5s ease-in-out 0s;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 25px;
  background: linear-gradient(to right, white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.header {
  display: flex;
  justify-content: center;
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

.link:hover {
  color: rgb(85, 209, 85);
}

.student_list {
  font-size: 2vw;
  background: linear-gradient(to right, white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.student_specifics {
  writing-mode: vertical-lr;
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
}

.student_header {
  writing-mode: vertical-lr;
}

.studentprofile_container {
  display: flex;
}

.studentinfo_additional {
  padding-left: 110px;
}

ul {
  list-style: none;
}
